/* 
colors

#EF476F paradise pink
#FFD166 orange yellow crayola
#06D6A0 caribbean green
#118AB2 blue ncs
#073B4C midnight green eagle green

darks (darkest first)

#36393B onyx
#797e81

lights (lightest first)

#F3F4F7 cultured
#a7a7a8

*/

body {
	background-color: #F3F4F7;
}

body {
	color: #36393B;
}

main.jumbotron {
	background-image: url("../images/chicken-tim.jpg");
}

main.jumbotron h1 {
	background-color: #F3F4F7aa;
}

footer,
header {
	border-color: #118AB2;
	background: #36393B;
}

footer *,
footer a:hover,
header *,
header a:hover,
nav a.navbar-brand,
nav .navbar-nav a.nav-link.active {
	color: #F3F4F7;
}

footer a,
header a {
	color: #a7a7a8;
}
